{% extends 'news/base.html' %}
{% load static %}

{% block title %} foydalanuvchi Parolini tiklash {% endblock title %}

{% block content %}
    <h1>parolni Tiklash</h1>
    <p>parolni o'zgartirish uchun quyidagi formani to'ldiring</p>
     {% if validlink %}
         <p>iltimos, parolni 2 marotaba kiriting</p>
          <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <P><button type="submit">parolni almashtirish</button></P>
          </form>
     {% else %}
         <p>Siz notog'ri linkdan foydalandingiz, u avvalroq foydalanilgan va ishlatilish vaqti o'tib ketgan bo'lishi mumkun!</p>
     {% endif %}
{% endblock content %}