{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi profile {% endblock title %}

{% block content %}
    <h2>Xush kelibsiz {{ user.username }}</h2>
    <h3><a href="{% url 'logout' %}" class="text-danger">Log Out</a></h3>
    <h3>Siz haqingizdagi malumoqlar:</h3>
    <img src="{{ profile.photo.url }}" width="20%" class="img-rounded">
    <h4>Tug'ilgan yilingiz:{{ profile.date_of_birth }}</h4>
    <label>Usernamer:</label> <input value="{{ user.username }}" readonly placeholder="kiritilmagan"><br>
    <label>Emailingiz:</label> <input value="{{ user.email }}" readonly placeholder="kiritilmagan"><br>
    <label>Ismingiz:</label> <input value="{{ user.first_name }}" readonly placeholder="kiritilmagan"><br>
    <label>Familiyangiz:</label> <input value="{{ user.last_name }}" readonly placeholder="kiritilmagan"><br> <br>


    <h4><a href="{% url 'password_change' %}" style="color: red">parolni almashtirish</a></h4>
    <h4><a href="{% url 'edt_user_information' %}" style="color: red">Profilni o'zgartirish</a></h4>
{% endblock content %}